doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://caneraksu.herokuapp.com/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    style
      include style.css
    title Document
    script.
      $(() => {
      const socket = io.connect('https://caneraksu.herokuapp.com/');
      $('#buton-1').on('click', () => {
      socket.emit('CB1');
      });
      socket.on('UPDATE', (data) => {
      $('.hero-title').html(data.arttırılan);
      });
      });
  body
    .hero
      h1.hero-title
      button#buton-1 +